html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

svg{
    background-color: rgb(214, 214, 214);
}

#canvas{
    min-height: 600px;
    min-width: 1200px;
}

tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
}
#tooltip {
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.7;

    
}